---
layout: default
title: SAFE familes
permalink: /
---

<!-- Article wrapper, limit width -->
<article>

  <!-- Post title -->
  <header>

     <h1>SAFE</h1>
    <h1 class="amsf-title">
            <img src="family-crop.jpg" alt="" />
    </h1>
    <h2>Systemic Autism-related Family Enabling.</h2>

    <small>Follow us on <a href="https://twitter.com/safestudy">Twitter</a></small>
  </header>

  <div class="page-content">
    <h2>News</h2>
    {% for post in site.categories.news %}
    {% if post.date %}
      <small>
        <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</time>
      </small>
    {% endif %}
      {% include themes/{{ site.theme }}/includes/page-item.html %}
      <hr>
    {% endfor %}

  </div>
</article>
